<!DOCTYPE html>
<html xmlns:th="http://wwww.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Add Car - [[${#httpServletRequest.remoteUser}]]</title>
</head>
<body>
<h1>Add Car</h1>
<form action="#" th:action="@{addCars}" th:object="${car}" method="post">
<table>
	<tr>
		<td>Manufacturer:</td>
		<!-- <td><form:input path="manufacturer"/></td> -->
		<td><input type="text" name="manufacturer"/></td>
	</tr>
	
	<tr>
		<td>Model:</td>
		<!-- <td><form:input path="model"/></td> -->
		<td><input type="text" name="model"/></td>
	</tr>
	<tr>
		<td>City Name:</td>
		<!-- <td><form:input path="city"/></td> -->
		<td><input type="text" name="city"/></td>
	</tr>
	<tr>
		<td>Registration Number:</td>
		<!-- <td><form:input path="registrationNumber"/></td> -->
		<td><input type="text" name="registrationNumber"/></td>
	</tr>
	<tr>
		<td></td>
		<td><button type="submit">Save</button></td>
	</tr>
</table>

</form:form>

	<form th:action="@{/logout}" method="post">
		<input type="submit" value="Sign Out"/>
	</form>



</body>
</html>