<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Edit Car</title>
</head>
<body>
<h1>Edit Car</h1>
<form method="post" action="/cars/editAndsave">
<table>
	<tr>
		<td>Car ID:</td>
		<td><input value=${car.carId} name="carId" /></td>
		<p text="${car.carId}" />
	</tr>
	<tr>
		<td>Manufacturer:</td>
		<td><input name="manufacturer"/></td>
	</tr>
	<tr>
		<td>Model:</td>
		<td><input name="model"/></td>
	</tr>
	<tr>
		<td>City Name:</td>
		<td><input name="city"/></td>
	</tr>
	<tr>
		<td>Registration Number:</td>
		<td><input name="registrationNumber"/></td>
	</tr>
	<tr>
		<td></td>
		<td><input type="submit" value="Save"/></td>
	</tr>
</table>
</form>

</body>
</html>